main
{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

#stickerPage
{
    /* Use these two lines instead of styling main */
    /* margin: auto; */
    /* width: fit-content; */

    display: flex;
    position: relative;
    /* overflow: hidden; */
    background-color: tan;
}

#scene
{
    height: 500px;
    position: relative;
    overflow: hidden;
}

#stickers
{
    width: 150px;
    height: 500px;
    overflow-y: scroll;
    /* position: relative; */
}

#rotateIcon
{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    z-index: 999;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    border-radius: 50%;
    display: none;
    transform: translate(50%, 50%);
    pointer-events: none;
}
#rotateIcon::before
{
    content: '\21BB';

}

.sticker-resize-handle
{
  position: absolute;
  right: -6px;
  bottom: -6px;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #000;
  cursor: nwse-resize;
  z-index: 2;
}