main
{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

#stickerPage
{
    /* Use these two lines instead of styling main */
    /* margin: auto; */
    /* width: fit-content; */

    display: flex;
    position: relative;
    /* overflow: hidden; */
    background-color: tan;
}

#scene
{
    height: 500px;
    position: relative;
    overflow: hidden;
}

#stickers
{
    width: 150px;
    height: 500px;
    overflow-y: scroll;
    /* position: relative; */
}

.sticker-rotate-handle {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: -25px; /* Adjust for spacing above the sticker */
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
    z-index: 2;
}