

#rotateIcon
{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    z-index: 999;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    border-radius: 50%;
    display: none;
    transform: translate(50%, 50%);
    pointer-events: none;
}
#rotateIcon::before
{
    content: '\21BB';
}

#outerContainer
{
    background-color: white;
    padding: 15px;
}

#toolbar
{
    border: 2px solid black;
}

#sceneBackground
{
    width: 100%;
}

#backgroundGallery
{
    height: 100px;
    border: 2px solid black;
    margin-top: 50px;
    overflow-x: scroll;
    display: flex;   
}
#backgroundGallery > img
{
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#saves
{
    margin-top: 50px;
    border: 2px solid black;
}

@media screen and (max-width: 767px)
{
    #stickerGallery
    {
        height: 100px;
        overflow-x: scroll;
        display: flex;
        border: 2px solid black;
    }
    .template-sticker
    {
        margin: 0px 5px;
    }
}

/* Medium devices (tablets, 768 and up) */
@media screen and (min-width: 768px)
{
    body
    {
        background-color: red;
    }
    
    #canvas
    {
        display: flex;
        justify-content: center;
        width: 700px;
        height: 360px;
        margin: auto;
    }

    #scene
    {
        width: 85%;
        /* width: 600px; */
    }

    #stickerGallery
    {
        width: 15%;
        overflow-y: scroll;
        background-color: tan;
    }

    .template-sticker
    {
        width: 100%;
    }

    #backgroundGallery
    {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #saves
    {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large devices (desktops, 992 and up) */
@media screen and (min-width: 992px)
{
    body
    {
        background-color: yellow;
    }
}

/* X-Large devices (large desktops, 1200 and up) */
@media screen and (min-width: 1200px)
{
    body
    {
        background-color: blue;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px)
{
    body
    {
        background-color: purple;
    }
}

