body
{
	background-image: url("imgs/Background.jpg");
	background-size: 100%;
}

header
{
	background-color: white;
	width: 33%;
	margin: auto;
	text-align: center;
	border: 3pt solid black;
	border-radius: 20pt;
	margin-top: 25px;
}

#content
{
	background-color: blue;
	margin-top: 25px;
}

#profile
{
	width: 33%;
	/*border: 3px solid black;*/
	float: left;
	/*background-color: white;*/
}

figure
{
	border: 3px solid black;
	background-color: white;
}

figcaption
{
	padding: 10px;

}

#Projects
{
	float: left;
	margin-left: 35px;
	margin-right: 35px;
	width: 50%;
	border: 3px solid black;
	background-color: #efefef;
	padding-bottom: 20px;
}

#Projects h2
{
	text-align: center;
}

details
{
	background-color: purple;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
}

td
{
	border: 2px solid black;
	border-radius: 5pt;
	color: black;
	background-color: white;
	padding:  15px 32px;
	text-align: center;
	font-size: 16px;
	width: 200px;
}
td:hover
{
	background-color: black;
	color: white;
}
td:active
{
	transform: translateY(3px);
}
td:nth-child(odd)
{
	margin-right: 200px;
	color: red;
}