/*
--nickel: #787874ff;
--light-gray: #CED1D7ff;
--pine-tree: #2D2F27ff;
--black-olive: #393A34ff;
--dark-sky-blue: #79B6C8ff;
--bitter-lemon: #B6E700ff;
--android-green:  #a4c639;
--irresistible: #BD3369ff;
*/

/*
https://coolors.co/ae9a84-645a40-a28d6d-5a5820-beb08c
--grullo: #AE9A84ff;
--field-drab: #645A40ff;
--grullo-2: #A28D6Dff;
--antique-bronze: #5A5820ff;
--khaki-web: #BEB08Cff;
*/

/*Remove whitespace around webpage*/
body, html
{
	border: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #2D2F27ff;
}

header
{
	padding: 15px 0px;
}

header, footer
{
	background-color: #CED1D7ff;
}

/*This NEEDS a padding-bottom that is equal to the size of the footer*/
main
{
	padding-bottom: 50px;
}

.profile-element
{
	margin: 15px 25px;
}

/*Give this a premanent color lateer*/
#bio
{
	background-color: white;
	padding: 15px;
}

img
{
	width: 100%;
}

footer
{
	width: 100%;
	padding: 15px;
	position: fixed;
	bottom: 0;
}

/*figure
{
	width: 300px;
	margin: auto;
}*/

/*This NEEDS a padding-bottom that is equal to the size of the footer*/
/*main
{
	padding-bottom: 50px;
}*/

/*#Projects
{
	background-color: rgba(120, 120, 116, 0.9);
}

#Projects h2
{
	text-align: center;
	color: white;
}

details
{
	background-color: black;
	color: white;
	margin: 15px;
	padding: 15px 32px;
	border-radius: 5pt;
}

details:nth-child(odd)
{
	background-color: white;
	color: black;
}

summary
{
	cursor: pointer;
}

#text
{
	position: relative;
	top: 100px;
	background-color: red;
	width: 300px;
}

#pic
{
	position: relative;
	left: 500px;
	background-color: blue;
	width: 300px;
}*/

/* Small devices (landscape phones, 576 and up) */
@media screen and (min-width: 576px)
{

}

/* Medium devices (tablets, 768 and up) */
@media screen and (min-width: 768px)
{
	/*figure
	{
		position: absolute;
		left: 770px;
		top: 200px;
		margin: 0;
	}
	#Projects
	{
		width: 600px;
		height: 325px;
		overflow-y: scroll;
		position: absolute;
		left: 200px;
		top: 250px;

	}*/

	/*Show profile image and bio side by side*/
	#profile
	{
		display: flex;
	}

	figure
	{
		width: 50%;
		margin: 0;
	}

	#bio
	{
		width: 50%;
	}
}

/* Large devices (desktops, 992 and up) */
@media screen and (min-width: 992px)
{
	#content
	{
		background-color: white; /*t*/
		position: absolute;
		top: 200px;
		left: 145px;
		width: 870px; /*figure width + figure left*/
	}

	#profile
	{
		display: block;
	}

	.profile-element
	{
		margin: 0;
	}

	figure
	{
		width: 300px;
		height: 300px;
		margin: 0;
		position: relative;
		left: 570px;
	}

	#bio
	{
		width: 100%;
		padding: 0;
	}
}

/* X-Large devices (large desktops, 1200 and up) */
@media screen and (min-width: 1200px)
{
	#content
	{
		left: 200px;
	}

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px)
{

}