/* * {
  outline: 1px solid red;
} */

body
/* .chewy-regular */
{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

header
{
    text-align: center;
}

#outerContainer
{
    padding: 10px;
}

#toolbar
{
    border: 2px solid black;
}
#toolbar > *
{
    padding: 5px;
    margin: 0px 5px;
    border: 1px solid black;
    font-size: 18pt;
}

#sceneBackground
{
    width: 100%;
}

#stickerbook
{
    /* background-color: brown; */
}

#stickerPage
{
    position: relative;
}

#canvas
{
    overflow: hidden;
    position: relative;
}

#stickerGallery
{
    height: 100px;
    display: flex;
    /* overflow-x: scroll; */
}

.arrow
{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #FF4532 transparent transparent;
}
#left-up-arrow
{
    transform: rotate(0deg);
    display: none;
}
#right-down-arrow
{
    transform: rotate(180deg);
}

#stickers
{
    display: flex;
    overflow: hidden;
    /* overflow-x: scroll; */
}

.template-sticker
{
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#backgroundGallery
{
    background-color: brown;
}

#saves
{
    background-color: aqua;
}

/* Hide arrows if the device has mouse support */
@media (pointer: fine)
{
    .arrow
    {
        display: none;
    }
    #stickers
    {
        overflow: auto;
    }
}

@media screen and (max-width: 767px)
{

}

/* Medium devices (tablets, 768 and up) */
@media screen and (min-width: 768px)
{
    body
    {
        /* background-color: blueviolet; */
    }

    #outerContainer
    {
        width: 730px;
        margin: auto;
    }

    #stickerbook
    {
        display: flex;
        flex-direction: column;
    }

    #toolbar
    {
        order: 2;
    }

    #stickerPage
    {
        order: 1;
        display: flex;
        background-color: green;
    }
    
    #canvas
    {
        width: 620px;
        height: 348.8px;
    }

    #stickerGallery
    {
        /* display: block; */
        flex-direction: column;
        align-items: center;
        width: 110px;
        height: 348.8px;
        background-color: tan;
        /* overflow-y: scroll; */
    }
    #stickers
    {
        display: block;
        /* overflow-y: scroll; */
    }
    .arrow
    {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 50.5px 50px 50.5px;
        border-color: transparent transparent #FF4532 transparent;
    }

    .template-sticker
    {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    #backgroundGallery
    {
        order: 3;
    }
}

/* Large devices (desktops, 992 and up) */
@media screen and (min-width: 992px)
{
    body
    {
        /* background-color: red; */
    }

    /* Start 2 sides here */
    #outerContainer
    {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0px;
    }
    
    #saves
    {
        width: 15%;
    }
}

/* X-Large devices (large desktops, 1200 and up) */
@media screen and (min-width: 1200px)
{
    body
    {
        /* background-color: yellow; */
    }

    #stickerbook
    {
        width: 815px;
    }

    #canvas
    {
        width: 693px;
        height: 389.81px;
    }

    #stickerGallery
    {
        width: 122px;
        height: 389.81px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px)
{
    body
    {
        /* background-color: blue; */
    }
}